# API Gateway Configuration
GATEWAY_HTTP_ADDR=
JOB_SERVICE_URL=
RESOURCE_SERVICE_URL=

# PostgreSQL Configuration
POSTGRES_HOSTNAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=

# MinIO Configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET_NAME=
